<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách hóa đơn</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item active">Hóa đơn</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<div class="card">
  <div class="card-body row">

      <div class="col-md-2 col-sm-2 col-xs-12 form-group">
        <input
          type="text"
          name="startDate"
          daterangepicker
          [options]="dateOptions"
          (selected)="changeStartDate($event)"
          [(ngModel)]="filterStartDate"
          class="form-control"
          placeholder="Từ ngày"
        />
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 form-group">
        <input
          type="text"
          name="endDate"
          daterangepicker
          [options]="dateOptions"
          (selected)="changeEndDate($event)"
          [(ngModel)]="filterEndDate"
          class="form-control"
          placeholder="Đến ngày"
        />
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 form-group">
        <input
          type="text"
          name="customerName"
          [(ngModel)]="filterCustomerName"
          class="form-control"
          placeholder="Tên khách hàng"
        />
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 form-group">
        <select
          class="form-control"
          name="filterPaymentStatus"
          [(ngModel)]="filterPaymentStatus"
        >
          <option value="">--Tất cả--</option>
          <option value="PAID">Đã thanh toán</option>
          <option value="UNPAID">Chưa thành toán</option>
        </select>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-12 form-group">
        <button class="btn btn-primary" type="button" (click)="search()">
          Tìm
        </button>
        <button class="btn btn-default" type="button" (click)="reset()">
          Reset
        </button>
        <button
          *ngIf="_authenService.hasPermission('ORDER', 'create')"
          class="btn btn-success"
          routerLink="/main/order/add"
        >
          Thêm mới
        </button>
      </div>


    <table
      *ngIf="orders && orders.length > 0"
      id="example1"
      class="table table-bordered table-striped"
    >
      <thead>
        <tr>
          <th>Tên khách hàng</th>
          <th>Số điện thoại</th>
          <td>Ngày tạo</td>
          <td>Trạng thái</td>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders">
          <td>{{ item.CustomerName }}</td>
          <td>{{ item.CustomerMobile }}</td>
          <td>{{ item.CreatedDate | date: "dd-MM-yyyy" }}</td>
          <td *ngIf="item.Status == true">Hợp lệ</td>
          <td *ngIf="item.Status == false">Không hợp lệ</td>
          <td>
            <a
              class="btn btn-primary"
              routerLink="/main/order/detail/{{ item.ID }}"
              data-toggle="tooltip"
              data-placement="top"
              title="Chi tiết hóa đơn"
              *ngIf="_authenService.hasPermission('ORDER', 'update')"
            >
              <i class="fa fa-edit" aria-hidden="true"></i
            ></a>
            <button
              class="btn btn-danger"
              data-toggle="tooltip"
              data-placement="top"
              title="Xóa sản phẩm"
              *ngIf="_authenService.hasPermission('ORDER', 'delete')"
              (click)="delete(item.ID)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="orders && orders.length == 0" class="col-md-12">
      <div class="alert alert-info">
        <strong>Thông báo!</strong> Hiện tại chưa có hóa đơn nào trong hệ thống
      </div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <div class="col-md-12">
      <pagination
        [boundaryLinks]="true"
        [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)"
        [totalItems]="totalRow"
        [(ngModel)]="pageIndex"
        class="pagination-sm"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>
  </div>
  <!-- /.box-footer-->
</div>
