<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <li class="nav-item" *ngFor="let item of functions">
      <a class="nav-link">
        <i class="nav-icon {{ item.IconCss }}"></i>
        <p>
          {{ item.Name }}
          <i
            *ngIf="item.ChildFunctions.length > 0"
            class="fas fa-angle-left right"
          ></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item" *ngFor="let subItem of item.ChildFunctions">
          <a
            routerLink="{{ subItem.URL }}"
            routerLinkActive="active"
            class="nav-link"
          >
             <i class="nav-icon {{ subItem.IconCss }}"></i>
            <p>{{ subItem.Name }}</p>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
